/*-------------------INDEX----------------------*/
.carousel .carousel-item {
    height: 500px;
}
#i-titulo1{
    color: #399B28;
}
.carousel-item img {
    /* position: absolute; */
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 460px;
    max-height: 600px;
}


@media (min-width: 410px) {
    #i-titulo1 {
        font-size: 2.2em;
        text-align: center;
    }

    #i-titulo2 {
        font-size: 1.5em;
        text-align: center;
    }

    #i-parr {
        /* font-size: 1.1em;
        text-align: center; */
        display: none;
    }
    #i-btn {
        text-align: center;
    }
}

@media (min-width: 576px){
    #i-titulo1 {
        font-size: 3em;
        text-align: center;
    }
    #i-titulo2{
        font-size: 1.5em;
        text-align: center;
    }
    #i-parr{
        display: block;
        font-size: 1em;
        text-align: center;
    }
}

@media (min-width: 992px){
    #i-titulo1 {
        font-size: 5em;
        text-align: center;
    }
    
    #i-titulo2 {
        font-size: 2em;
        text-align: center;
    }
    
    #i-parr {
        display: block;
        font-size: 1em;
        text-align: center;
    }
}

@media (min-width: 1200px){
    #i-titulo1 {
        font-size: 4em;
        text-align: left;
    }
    
    #i-titulo2 {
        font-size: 2.2em;
        text-align: left;
        padding-left: 5px;
    }
    
    #i-parr {
        display: block;
        font-size: 1em;
        text-align: left;
    }
    #i-botones {
        float:left;
    }
    #header{
        padding-bottom: 0px;
        padding-top: 100px;
    }
}
